<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
<div class="container">
  <div class = "row">
    <div class="col-md-4">
       <%= render partial: 'layouts/current_vendor_logins' %>
    </div>
    <div class="col-md-4">
      <%= simple_form_for @login do |f| %>
        <%= f.label "Magento store URL*" %>:<br />
        <%= f.text_field :store_url, placeholder: "Store URL" %><br />
        
        <%= f.label "Magento API username*" %>:<br />
        <%= f.text_field :username, placeholder: "SOAP Username" %><br />
      
        <%= f.label "Magento API Key*" %>:<br />
        <%= f.password_field :key, placeholder: "SOAP API Key" %><br />
        
        <%= f.label "Magento category ID*" %>:<br />
        <%= f.text_field :store_id, placeholder: "Magento category ID" %><br />
      
        <%= f.label "Email:" %><br />
        <%= f.text_field :email, placeholder: "Email" %><br /><br />
        
        <%= f.submit %>
      <% end %>
      <br><br>
    </div>
  </div>
</div>
<% if Rails.env.development? %>
  <br>
  <center>
    <%= link_to "test", finish_page_path%><br>
    zCBt5lOPsdoaUYs1wu4jtVlFVG4FXIu6c7PGEAPJxohUqwnAde<br><br>
  
    Current_ shop:<br> <%= ShopifyAPI::Shop.current.domain %><br>
    
    <%= ENV['EMAIL_PASS']%><br>
    <%= ENV['EMAIL_ADDR']%>
    
  </center>
<% end %>
<%# session[:deech] = true %>
<%# session[:session_id]%>
<%#byebug%>
