<div class="container">
    <div class="row">
        <div class= "col-md-6 col-md-offset-3">
            <% unless @all_categories.blank? %>
                <h1>Press ctrl for miltiple choice of the categories, where you want to import products:</h1><br>
                <%= form_for @collection, url: accepted_collection_url, html: { method: :post} do |f| %>
                    <% @all_categories.each do |category| %>
                        <%= category[:name] %><br>
                        <%= hidden_field_tag "#{category[:category_id]}_magento_category_id", category[:category_id]%>
                        <%= select_tag "#{category[:category_id]}_shopify_categories_ids[]", options_for_select([["- Create new category -", 0]] + @shopify_collect.collect{ |u| [u.title, u.id] }), {:multiple => :multiple, rows: 8} %><br><br><br>
                    <% end %>
                    <%= f.submit "Accept" %>
                <% end %>
            <% else %>
                <h1>This StoreView does not have activ category!</h1>
                <%= link_to "Try again", root_path %>
            <% end %>
        </div>
    </div>
</div>