<div class="container">
    <div class="row">
        <div class= "col-md-6 col-md-offset-3">
            <% unless @all_categories.blank? %>
                <h1>Press ctrl for miltiple choice of the categories, where you want to import products:</h1><br>
                <%= form_for @collection, url: accepted_collection_url, html: { method: :post} do |f| %>
                    <%  @all_categories.each do |level_cat|%>
                    <% unless level_cat.values[0].blank? %>
                        <h2>These are <%= level_cat.keys.first %> level categories</h2><br>
                    <% end %>    
                        <% level_cat.values[0].each do |category| %>
                            <%= category[:name] %><br>
                            <%= hidden_field_tag "#{category[:category_id]}_magento_category_id", category[:category_id]%>
                            <%#= byebug %>
                            <%= select_tag "#{category[:category_id]}_shopify_categories_ids[]", options_for_select([["- Create new category -", 0], ['- Skip -', -1]] + @shopify_collect.collect{ |u| [u.title, u.id] }, selected: Collection.where(login_id: @login.id, magento_category_id: category[:category_id]).map(&:shopify_category_id)), {:multiple => :multiple, rows: 8} %><br><br><br>
                            
                            <%= @login.id if  Rails.env.development? %>
                        
                        <% end %>
                    <% end%>
                    <%= f.submit "Accept" %>
                <% end %>
            <% else %>
                <h1>This StoreView does not have activ category!</h1>
                <%= link_to "Try again", root_path %>
            <% end %>
        </div>
    </div>
</div>